
extends: defaultignore: |

  apps/boutique/google_boutique.yamlrules:

  line-length: disable

  document-start: disable

  truthy: disable

  comments: disable

  trailing-spaces: enable

  indentation: enable

