extends: default

ignore: |
  apps/boutique/base/google_boutique.yaml

rules:
  line-length: disable
  document-start: disable
  truthy: disable
  comments: disable
  trailing-spaces: enable
  indentation: enable
