[defaults]
inventory = inventories/production/hosts
host_key_checking = False
deprecation_warnings = False
roles_path = roles
timeout = 60

[privilege_escalation]
become_timeout = 120

[ssh_connection]
pipelining = True